input,
select,
textarea {
    font-size: 18px;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 8px;
    resize: vertical;
    border: none;
    background-color: var(--color-background-contrast);
    color: var(--color-text);

}

input[type=submit] {
    background-color: var(--color-background);
    color: white;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    border: solid 1px var(--color-primary);
}

input[type=submit]:hover {
    background-color: var(--color-primary);
    border: solid 1px var(--color-primary);
}

textarea:focus,
input:focus {
    outline: none;
}

.container-contact {
    border-radius: 5px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

footer {
    background-color: var(--color-background);
    padding: 100px 0 !important;
}

.box-footer {
    display: flex;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.box-footer-logo {
    margin-bottom: 20px;
}

.header-contact {
    max-width: 600px;
    margin-bottom: 25px;
}

.footer-infos{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    margin-left: 40px;

}
.footer-text{
    max-width: 550px;
    margin-bottom: 20px;
    border-top: 1px solid var(--color-background-contrast-plus);
    border-bottom: 1px solid var(--color-background-contrast-plus);
    padding: 20px 0;
}

#thanks {
    margin: 100px auto 50px auto;
    text-align: center;
}